In [1]:
# 1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see
break=5

SyntaxError: invalid syntax (Temp/ipykernel_17080/1815968294.py, line 2)

In [3]:
#2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables
birth_year=1983
current_year=2022
age=current_year-birth_year
age

39

In [6]:
# 3. Store your first, middle and last name in three different variables and then print your full name using these variables
first="Suman"
middle="Gahlot"
last="Kathania"
print("My full name is:"+first+" "+ middle+" "+last)

My full name is:Suman Gahlot Kathania

In [ ]:
#4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"
# record1,record_one,record-one, record^one continue

In [7]:
# 1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
#    area using python and print it
length=92
width=48.8
area=length*width
print("area of football field:",area)

area of football field: 4489.599999999999

In [8]:
# 2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
#    and you gave shopkeeper 20 dollar.
#    Find out using python, how many dollars is the shopkeeper going to give you back?
num_packets=9
cost_per_packet=1.49
total_cost=num_packets*cost_per_packet
money_paid=20
cash_back=money_paid-total_cost
print("Cash back:",cash_back)

Cash back: 6.59

In [9]:
# 3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
#    is its length. If tiles cost 500 rs per square feet, how much will be the total
#    cost to replace all tiles. Calculate and print the cost using python
#    Hint: Use power operator (**) to find area of a square
length=5.5
area=length**2 # area of square is length power 2
cost=area*500
print("total cost for bathroom tiles replacement:",cost)

total cost for bathroom tiles replacement: 15125.0

In [10]:
# 4. Print binary representation of number 17
num=17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

In [11]:
# 1. Create 3 variables to store street, city and country, now create address variable to
# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line
street = "13 patli gali"
city = "New Delhi"
country = "India"
address = street + '\n' + city + '\n' + country
print("Address using + operator:",address)
address = f'{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator: 13 patli gali
New Delhi
India
Address using f-string: 13 patli gali
New Delhi
India

In [12]:
# 2. Create a variable to store the string "Earth revolves around the sun"
#     1. Print "revolves" using slice operator
#     2. Print "sun" using negative index
s='Earth revolves around the sun'
print(s[6:14])
print(s[-3:])

revolves
sun

In [13]:
# 3. Create two variables to store how many fruits and vegetables you eat in a day.
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
# Use python f string for this.
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

In [14]:
# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.
s='maine 200 banana khaye'
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

Using two line replace: maine 10 samosa khaye

In [15]:
s='maine 200 banana khaye'
s=s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

Using single line: maine 10 samosa khaye

In [17]:
# 1. Let us say your expense for every month are listed below,
#     1. January -  2200
#     2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
exp = [2200,2350,2600,2130,2190]

# 1. In Feb, how many dollars you spent extra compare to January?
print("1.In feb this much extra was spent compared to jan:",exp[1]-exp[0])

# 2. Find out your total expense in first quarter (first three months) of the year.
print("2.Expense for first quarter:",exp[0]+exp[1]+exp[2])

# 3. Find out if you spent exactly 2000 dollars in any month
print("3.Did I spent 2000$ in any month? ", 2000 in exp)

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("4.Expenses at the end of June:",exp)

# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

exp[3] = exp[3] - 200
print("5.Expenses after 200$ return in April:",exp)

1.In feb this much extra was spent compared to jan: 150
2.Expense for first quarter: 7150
3.Did I spent 2000$ in any month?  False
4.Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
5.Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [20]:
# 2. You have a list of your favourite marvel super heros
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this list

heros=['spider man','thor','hulk','iron man','captain america']

# 1. Length of the list
print("1.Length of the list:",len(heros))

# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print("2.After adding black panther to the list:", heros)

# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print("3. Adding black panther after hulk and then removing and adding again after hulk:", heros)

# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.

heros[1:3]=['doctor strange']
print("4.remove thor and hulk from list and replace them with doctor strange:",heros)

# 5. Sort the list in alphabetical order
heros.sort()
print("5.Sort the list:",heros)

1.Length of the list: 5
2.After adding black panther to the list: ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3. Adding black panther after hulk and then removing and adding again after hulk: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
4.remove thor and hulk from list and replace them with doctor strange: ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
5.Sort the list: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [29]:
#After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
#Using for loop figure out how many times you got heads
count=0
for i in result:
    if i=="heads":
        count=count+1
print("Head count:",count)

Head count: 4

In [30]:
# Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11):
    if i % 2 ==0:
        continue
    print(i*i)

1
9
25
49
81

In [45]:
# 3. Your monthly expense list (from Jan to May) looks like this,

expense_list = [2340, 2500, 2100, 3100, 2980]

# Write a program that asks you to enter an expense amount and program
# should tell you in which month that expense occurred. If expense is not
# found then it should print that as well.

expense_amount=int(input("Enter an expense: ")
for e in range(len(expense_list)):
    if expense_amount==expense_list[e]:
                   break                   
      print("Expense occured in Month:",e+1,"Expense:",expense_amount)
    else:
      print("Expense not found in any month")

SyntaxError: invalid syntax (Temp/ipykernel_17080/3905204294.py, line 10)

In [39]:
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break

if month != -1:
    print(f'You spent {e} in {month_list[month]}')
else:
    print(f'You didn\'t spend {e} in any month')

Enter expense amount: 6700
You didn't spend 6700 in any month

In [47]:
# 4. Lets say you are running a 5 km race. Write a program that,
#    1. Upon completing each 1 km asks you "are you tired?"
#    2. If you reply "yes" then it should break and print "you didn't finish the race"
#    3. If you reply "no" then it should continue and ask "are you tired" on every km
#    4. If you finish all 5 km then it should print congratulations message

for i in range(5):
    print(f"You ran {i+1} km")
    tired=input("Are you tired? ")
    if tired=="yes":
        break
if i==4:
    print("Hurray! You have completed 5 km race")
else:
    print("You didn't finish 5 km race")

You ran 1 km
Are you tired? no
You ran 2 km
Are you tired? no
You ran 3 km
Are you tired? no
You ran 4 km
Are you tired? no
You ran 5 km
Are you tired? no
Hurray! You have completed 5 km race

In [48]:
# 5. Write a program that prints following shape
# ```
# *
# **
# ***
# ****
# *****
# ```
s=''
for i in range (6):
        s+='*'
        print(s)

*
**
***
****
*****
******

In [57]:
def print_pattern(n=5):
    '''
    :param n: Integer number representing number of lines
    to be printed in a pattern. If n=3 it will print,
      *
      **
      ***
    If n=4, it will print,
      *
      **
      ***
      ****
    Default value for n is 5. So if function caller doesn't
    supply the input number then it will assume it to be 5
    :return: None

'''
def print_pattern(n=5):
    for i in range(n):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)

In [59]:
print_pattern(8)

*
**
***
****
*****
******
*******
********

In [61]:

def calculate_area(base,height,shape="triangle"):
    '''
    :param dimension1: In case of triangle it is "base". For rectangle it is "length".
    :param dimension2: In case of triangle it is "height". For rectangle it is "width".
    :param shape: Either "triangle" or "rectangle"
    :return: Area of a shape
    '''
    if shape=="triangle":
        area=1/2*(base*height) # Triangle area is : 1/2(Base*Height)
    elif shape=="rectangle":
        area=base*height # Rectangle area is: Length*Width
    else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
    return area

In [62]:
# Calculate area of triangle whose base is 10 and height is 5
base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

Area of triangle is: 25.0

In [63]:
# Calculate area of a rectangle whose length is 20 and width is 30
length=20
width=30
rectangle_area=calculate_area(length,width,"rectangle")
print("Area of rectangle is:",rectangle_area)

Area of rectangle is: 600

In [64]:
# Calculate area of a triangle without supplying shape argument in a function call
triangle_area=calculate_area(base,height) # Here third argument is missing
print("Area of triangle with no shape supplied: ",triangle_area)

Area of triangle with no shape supplied:  25.0

1.We have following information on countries and their population (population is in crores),

# Country	Population
    China	143
    India	136
    USA	     32
    Pakistan 21

1.Using above create a dictionary of countries and its population
2.Write a program that asks user for three type of inputs,

1. print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21

In [65]:
population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}
print(population)

{'china': 143, 'india': 136, 'usa': 32, 'pakistan': 21}

In [75]:
#2.define function add: 
# if user input add then it should further ask for a country name to 
# add. If country already exist in our dataset then it should print that
# it exist and do nothing. If it doesn't then it asks for population and 
# add that new country/population in our dictionary and print it
def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}:")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

In [77]:
population

{'china': 143, 'india': 136, 'usa': 32, 'pakistan': 21, 'germany': 670.0}

In [78]:
# 3.define function remove: when user inputs remove it should ask for a country 
# to remove. If country exist in our dictionary then remove it and print new
# dictionary using format shown above in (a). Else print that country doesn't 
# exist!
def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

In [80]:
remove()

Enter country name to remove:'germany'
Country doesn't exist in our dataset. Terminating

In [81]:
# 4. define function query: on this again ask user for which country he or 
# she wants to query. When user inputs that country it will print population
# of that country.
def query():
    country=input("Enter which country to query:")
    country=country.lower()
    if country not in population:
        print("Country doesn't exist in our database.Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

In [83]:
query()

Enter which country to query:india
Population of india is: 136 crore

In [84]:
def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

In [85]:
def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

In [86]:
if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print):add
Enter country name to add:russia
Enter population for russia:340
china==>143
india==>136
usa==>32
pakistan==>21
russia==>340.0

In [87]:
main()

Enter operation (add, remove, query or print):query
Enter which country to query:usa
Population of usa is: 32 crore

2.You are given following list of stocks and their prices in last 3 days,

Stock	Prices
info	[600,630,620]
ril	[1430,1490,1567]
mtl	[234,180,160]

-Write a program that asks user for operation. Value of operations could be,
    1.print: When user enters print it should print following,
    info ==> [600, 630, 620] ==> avg:  616.67
    ril ==> [1430, 1490, 1567] ==> avg:  1495.67
    mtl ==> [234, 180, 160] ==> avg:  191.33
    2.add: When user enters 'add', it asks for stock ticker and price. If                stock     already exist in your list (like info, ril etc) then it             will append the price to the list. Otherwise it will create             new entry in your dictionary. For example entering 'tata' and             560 will add tata ==> [560] to the dictionary of stocks.

In [88]:
import statistics

stocks = {
    'info': [600,630,620],
    'ril': [1430,1490,1567],
    'mtl': [234,180,160]
}

In [89]:
def print_all():
    for stock,price_list in stocks.items():
        avg = statistics.mean(price_list)
        print(f"{stock} ==> {price_list} ==> avg: ",round(avg,2))

In [90]:
def add():
    s = input("Enter a stock ticker to add:")
    p = input("Enter price of this stock:")
    p=float(p)
    if s in stocks:
        stocks[s].append(p)
    else:
        stocks[s] = [p]
    print_all()

In [91]:
def main():
    op=input("Enter operation (print, add or amend):")
    if op.lower() == 'print':
        print_all()
    elif op.lower() == 'add':
        add()
    else:
        print("Unsupported operation:",op)

In [92]:
if __name__ == '__main__':
    main()

Enter operation (print, add or amend):print
info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33

In [96]:
main()

Enter operation (print, add or amend):add
Enter a stock ticker to add:rtc
Enter price of this stock:450
info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33
rtc ==> [890.0, 450.0] ==> avg:  670.0

In [97]:
#Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them
import math

def circle_calc(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter=2*radius
    return area, circumference,diameter

if __name__=="__main__":
    r=input("Enter a radius:")
    r=float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")

Enter a radius:6
area 113.09733552923255, circumference 37.69911184307752, diameter 12.0

In [ ]:
#import sys
#sys.path.append("C:\path to the file")

In [6]:
# Exception Handling
x=input("Enter num 1:")
y=x=input("Enter num 2:")
z=int(x) / int(y)
print("Division is: ",z)

Enter num 1:8
Enter num 2:2
Division is:  1.0

In [5]:
x=input("Enter num 1:")
y=x=input("Enter num 2:")
try:
    z=int(x)/int(y)
except Exception as e:
    print('exception occured:',e)
    z=None
print("Division is: ",z)

Enter num 1:8
Enter num 2:0
exception occured: division by zero
Division is:  None

In [7]:
x=input("Enter num 1:")
y=x=input("Enter num 2:")
try:
    z=int(x)/int(y)
except ZeroDivisionError as e: # handling specific error not the generic eceptions
    print('Division by zero exception')
    z=None
print("Division is: ",z)

Enter num 1:8
Enter num 2:0
Division by zero exception
Division is:  None

In [10]:
x=input("Enter num 1:")
y=x=input("Enter num 2:")
try:
    z= x /int(y) # error in int(x)
except Exception as e:
    print('exception occured:',type(e))
    z=None
    
print("Division is: ",z)

Enter num 1:8
Enter num 2:4
exception occured: <class 'TypeError'>
Division is:  None

In [11]:
x=input("Enter num 1:")
y=x=input("Enter num 2:")
try:
    z= x/int(y)
except TypeError as e: # handling specific error not the generic eceptions
    print('TypeError exception')
    z=None
print("Division is: ",z)

Enter num 1:8
Enter num 2:4
TypeError exception
Division is:  None

## class and objects
defining properties to class Human,name(n) and occupation (O)

In [15]:
class Human:
    def __init__(self,n,o):  # defining the properties or attributes to Human Class
        self.name= n
        self.occupation= o
        
    def do_work(self): # defining methods
        if self.occupation=="tennis player":
            print(self.name,"plays tennis")
        elif self.occupation=="actor":
            print(self.name,"shoots a film")
            
    def speaks(self):
        print(self.name,"says how are you?")
        
# create instances

tom=Human("Tom cruise","actor")
tom.do_work()
tom.speaks()

Tom cruise shoots a film
Tom cruise says how are you?

In [16]:
maria=Human("Maria Sharapova","tennis player")
maria.do_work()
maria.speaks()

Maria Sharapova plays tennis
Maria Sharapova says how are you?

In [17]:
%system ls

["'ls' is not recognized as an internal or external command,",
 'operable program or batch file.']

 <img src="https://pandas.pydata.org/static/img/pandas.svg" style="width:400px;height:80px;">

# <font color='red'>Pandas Tutorial On Stock Price Analysis</font>

In [19]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/EEEZX_0FMEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>